/cmake-build-debug/Makefile
/cmake-build-debug/student1.txt
/cmake-build-debug/PhoneNumberManager.cbp
/cmake-build-debug/.cmake/api/v1/reply/cache-v2-d0b09fbfe01dbb41f7b5.json
/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-08bece19abc0403ee570.json
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-96406ff3ce90225984e2.json
/cmake-build-debug/.cmake/api/v1/reply/index-2023-06-07T07-53-35-0323.json
/cmake-build-debug/.cmake/api/v1/reply/target-PhoneNumberManager-Debug-b6fce4404deb2657f427.json
/cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
/cmake-build-debug/CMakeFiles/Makefile.cmake
/cmake-build-debug/CMakeFiles/Makefile2
/cmake-build-debug/CMakeFiles/progress.marks
